.outer {
        border: 2px solid brown;
        border-radius: 1em;
        background: red;
        font-size: 20pt;
        width: 12em;
        height: 7em;
        text-align: center;
}
.boilerplate {
    color: white;
    font-family: sans-serif;
    padding: 0.5em;
}
.name {
    color: black;
    background: white;
    font-family: "Marker Felt", cursive;
    font-size: 45pt;
    padding-top: 0.2em;
}