//
    template#nameTagTemplate
        style
            include style.css

        .outer
            .boilerplate Hi! My name is
            .name.bindable
                | cenas: ${data.name} ${data.last_name}
            input#name-input(es-model="data.last_name")


template#nameTagTemplate
    style
        include style.css

    .outer
        .row 
            .label First Name:
            .value.bindable ${data.name}
            .input
                input.last-name-input(es-model="data.name")

        .row
            .label Last Name:
            .value.bindable ${data.last_name}
            .input
                input.last-name-input(es-model="data.last_name")
