doctype html
html.no-js
    head
        meta(charset="utf-8")
        title
            | teste
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        link(rel='stylesheet', href='assets/styles/styles.css')
        link(rel='import', href='/views/components/profile-form/index.html')

    body(ng-app='sampleapp')

        .addClass Add Class Test
        .removeClass.passed.failed
        .hasClass Has Class Test

        a(href="#") On Test (Click me)

        .container(es-view)

        //include ./components/name/index.jade

        script(async src='scripts/bundle.js')
