doctype html
html.no-js
    head
        meta(charset="utf-8")
        title
            | teste
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        link(rel='stylesheet', href='assets/styles/styles.css')
        link(rel='import', href='/views/components/profile-form/index.html')

    body
        header(es-view="header")

        .container(es-view="content")
        .container(es-view="hello")

        a(href="#teste") teste

        .check-store Check Store

        script(async src='scripts/bundle.js')
