template#template
    style
        include style.css

    .outer
        .row
            .label First Name:
            .value(es-bindable) ${name}
            .input
                input.last-name-input(es-item es-model="name")

        .row
            .label Last Name:
            .value(es-bindable) ${last_name}
            .input
                input.last-name-input(es-item es-model="last_name")

        .row
            .div(es-item es-click="teste") Button

        .row(es-repeat="item in items")
            .ohoh(es-bindable) ${item.text}

script
    include script.js
