template#template
    style
        include style.css

    .outer
        .row
            .label First Name:
            .value(es-bindable) ${data.name}
            .input
                input.last-name-input(es-item es-model="data.name")

        .row
            .label Last Name:
            .value(es-bindable) ${data.last_name}
            .input
                input.last-name-input(es-item es-model="data.last_name")

        .row
            .div(es-item es-click="teste") Button

script
    include script.js
