template#template
    style
        include style.css

    .outer
        .row
            .label First Name:
            .value.bindable ${data.name}
            .input
                input.last-name-input(es-model="data.name")

        .row
            .label Last Name:
            .value.bindable ${data.last_name}
            .input
                input.last-name-input(es-model="data.last_name")

script
    include script.js
